html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* app.css */
@import 'tailwindcss';

/* Define custom theme variable */
@theme {
  --color-darker-violet: #190c49;  
  --color-dark-violet: #2a0a55;  
  --color-globalTextPrimary: #9333ea;  
  --color-globalLinkHover: #ec4899;  
  --color-globalGradientStart: #7c3aed;  
  --color-globalGradientMid: #9333ea;  
  --color-globalGradientEnd: #3b82f6;  
  --color-dark-gray: #1a1a1d;  
  --color-dark-gray-blue: #09122c;  
  --color-dark-violet-wine: #6a1e55;  
  --color-pink-gradient: #9333ea,  
  --color-blue-gradient: #3b82f6,
 /* TEXT PINK TO BLUE */
  --color-globalGradientStart: #9333ea;  
  --color-globalGradientMid: #9333ea;  
  --color-globalGradientEnd: #3b82f6;  
}



@layer utilities {
  .bg-gradient-dark-violet {
    background: linear-gradient(
      to right,
      var(--color-darker-violet),
      var(--color-dark-violet)
    );
  }
  .bg-gradient-dark-gray-blue {
    background: linear-gradient(
      to right,
      var(--color-dark-gray),
      var(--color-dark-gray-blue)
    );
  }
  .bg-gradient-pink-purple-blue-text {
    background: linear-gradient(
      to right,
      var(--color-globalGradientStart),
      var(--color-globalGradientMid),
      var(--color-globalGradientEnd)
    );
    -webkit-background-clip: text; /* Needed for Safari */
    background-clip: text; /* Clipping the background to the text */
  }

  .castCrew-card{
    color: var(--color-globalGradientEnd)
  }
}
