html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* app.css */
@import 'tailwindcss';

/* Define custom theme variable */
@theme {
  --color-darker-violet: #190c49; /* Even Darker Violet */
  --color-dark-violet: #2a0a55; /* Dark Violet */
  --color-globalTextPrimary: #9333ea; /* Text color */
  --color-globalLinkHover: #ec4899; /* Hover link color */
  --color-globalGradientStart: #7c3aed; /* Gradient start */
  --color-globalGradientMid: #9333ea; /* Gradient mid */
  --color-globalGradientEnd: #3b82f6; /* Gradient end */
  --color-dark-gray: #1a1a1d; /* Dark gray */
  --color-dark-gray-blue: #09122c; /* Dark Gray Blue */
  --color-dark-violet-wine: #6a1e55; /* Dark Wine Violet */
}

@layer utilities {
  .bg-gradient-dark-violet {
    background: linear-gradient(
      to right,
      var(--color-darker-violet),
      var(--color-dark-violet)
    );
  }
  .bg-gradient-dark-gray-blue {
    background: linear-gradient(
      to right,
      var(--color-dark-gray),
      var(--color-dark-gray-blue)
    );
  }
}
